doctype html
html(lang="es")
  head
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0")
    link(href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap", rel="stylesheet")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="sass/main.scss")
  body
    .block
      h1.title Snake
      .board
        p#state Playing
        p
          span#time 0
          .
            &nbsp;MS
        p
          span#points 0
          .
            &nbsp;Points
      canvas#game(width="500px", height="500px")
      .buttons
        button.button.button--primary(onClick="keyboard({ keyCode: 37 })") &larr; Left
        button.button.button--primary(onClick="keyboard({ keyCode: 39 })") Right &rarr;
      .buttons
        button.button#pause(onClick="keyboard({ keyCode: 80 })") Pause
        button.button(onClick="keyboard({ keyCode: 82 })") Restart

      p Keyboard operations
      p Move Left (&larr;), Move Right (&rarr;)
      p Pause (p), Restart (r)
    script(src="js/script.js")
        

      